/**********************************
GENERAL
***********************************/

body {
  font-family: "Questrial", sans-serif;
}

#wrapper {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 5%;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h3 {
  margin: 0 0 1em 0;
}



/**********************************
HEADING
***********************************/

header {
  float: left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
}

#logo {
  text-align: center;
  margin: 0;
}

h1 {
  font-family: "Merriweather Sans", "Questrial", sans-serif;
  margin: 15px 0;
  font-size: 1.75em;
  font-weight: normal;
  line-height: 0.8em;
}

h2 {
  font-size: 0.75em;
  margin: -5px 0 0;
  font-weight: normal;
}



/**********************************
NAVIGATION
***********************************/

nav {
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  font-weight: 800;
  padding: 15px 10px;
}



/**********************************
FOOTER
***********************************/

footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #ccc;
}


/**********************************
PAGE: PORTFOLIO
***********************************/
#favproject {
  text-align: center;
  margin: 0;
  padding: 0;
}

#gallery {
  margin: 0;
  padding: 0;
  list-style: none;
}

#gallery li {
  float: left;
  width: 90%;
  margin: 5%;
  background-color: #eeeeee;
  word-wrap: break-word;
}

#gallery img {
  display: block;
  margin: 0 auto 0;
}

#gallery h3 {
  margin: 2%;
  text-align: center;
  font-size: 1.2em;
}

#gallery a:hover {
  color: #bada55;
}

#gallery p {
  margin: 0;
  padding: 5%;
  padding-bottom: 2%;
  /*font-size: 0.80em;*/
}

#gallery p a {
  font-size: 0.75em;
}

#gallery img {
  border-bottom: 2px solid #bada55;
}

#gallery p a {
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 25px;
  margin: 0 0 10px 5px;
  background-image: url('../img/webpage.png');
}

#gallery p a[href^="https://github"] {
  background-image: url('../img/blacktocat.png');
}

/**********************************
PAGE: ABOUT & CONTACT
***********************************/

.profile-photo {
  display: block;
  max-width: 150px;
  margin: 0 auto 20px;
  border-radius: 100%;
}

.general-info, .contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

.general-info a, .contact-info a {
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 3px 0 0 30px;
  margin: 0 0 10px;
}

.resume a {
  background-image: url('../img/icon_download.png');
}

.linkedin a {
  background-image: url('../img/li-circle.png');
}

.blog a {
  background-image: url('../img/wordpress.png');
}

.contact-info li.mail a {
  background-image: url('../img/mail.png');
}

/**********************************
COLORS
***********************************/

/* site body */
body {
  background-color: #fff;
  color: #999;
}

/* blue gradient header */
header {
  background: rgb(0,183,234); /* Old browsers */
  background: -moz-linear-gradient(45deg,  rgba(0,183,234,1) 0%, rgba(0,158,195,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(0,183,234,1)), color-stop(100%,rgba(0,158,195,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg,  rgba(0,183,234,1) 0%,rgba(0,158,195,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg,  rgba(0,183,234,1) 0%,rgba(0,158,195,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg,  rgba(0,183,234,1) 0%,rgba(0,158,195,1) 100%); /* IE10+ */
  background: linear-gradient(45deg,  rgba(0,183,234,1) 0%,rgba(0,158,195,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/* nav background on mobile */
nav {
  background: rgba(89, 131, 154, 0.75);
}

/* logo text */
h1, h2 {
  color: #fff;
}

/* links */
a {
  color: #6ab47b;
}

/* nav link */
nav a, nav a:visited {
  color: #fff;
}

/* selected nav link */
nav a.selected, nav a:hover {
  color: #324767;
}














